<nav>
    <div id="navbar">
        <a [routerLink]="['/smart-trip/impressum']">Impressum</a>
        <a>|</a>
        <a [routerLink]="['/smart-trip/kontakt']">Kontakt</a>
        <a>|</a>
        <a [routerLink]="['/smart-trip/events']">Events</a>
        <a>|</a>
        <a [routerLink]="['/smart-trip/restaurants']">Restaurants</a>
        <a>|</a>
        <a [routerLink]="['/smart-trip/hotels']">Hotels</a>
        <p [routerLink]="['smart-trip']" id="logo">Smart Trip<img src="./assets/img/palm.png"></p>
    </div>
</nav>
