<section class="newSection">
    <div class="card mb-3" style="width: 60%; margin-left: 10%; margin-top: 8%;">
        <div class="row no-gutters">
            <div class="col-md-8" style="padding-left:10%;">
                <div class=" card-body " style="width: 125%; ">
                    <h2 class="card-title " style=" font-family: 'Comic Sans MS', 'Comic Sans', cursive;font-weight:bold; font-size: revert;padding-top: 2%; ">
                        Willkommen bei Smart-Trip</h2>
                    <p style="font-size: medium; ">Smart-Trip ist ein Abschlussprojekt zur Erlangung des Zertifikats der IT-Frankfurt zum agilen und hybriden Full-Stack-Entwickler. </p>
                    <p style="font-size: medium; ">Die Schulung fand von Feb.2020 bis Apr.2020 statt.</p>
                    <p style="font-size: medium; ">Die Bildrechte des verwendeten Bildmaterials liegen bei:</p>
                    <div style="margin-top:2%;margin-bottom: 2%;">
                        <a href="https://www.vlet-alster.de ">www.vlet-alster.de</a>
                        <br>
                        <a href="https://www.mch-group.com/de-CH/news/blog/2017/04/event-activation.aspx ">www.mch-group.com</a>
                        <br>
                        <a href="https://www.ikador.com/de ">www.ikador.com</a>
                    </div>
                    <p style="font-size: medium; ">Die Nutzung dient ausschließlich nicht-kommerziellen Zwecken.</p>
                </div>
            </div>
        </div>
    </div>

</section>
