<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<div class="container">
    <div>
        <span class="heading-lp">
      <h1 class="h1Style">Wonach suchst Du heute?</h1>
    </span>

        <div class="wrapper-inside">

            <div>
                <div class="row">
                    <a class="link-on-div" href="/smart-trip/hotels">
                        <div class="col-sm" class="circle">
                            <img class="icons" src='./assets/img/hotel2.png'><br /> HOTELS
                        </div>
                    </a>
                    <a class="link-on-div" href="/smart-trip/restaurants">
                        <div class="col-sm" class="circle">
                            <img class="icons" src='./assets/img/restaurant4.png'><br /> RESTAURANTS
                        </div>
                    </a>
                    <a class="link-on-div" href="/smart-trip/events">
                        <div class="col-sm" class="circle">
                            <img class="icons" src='./assets/img/event3.png'><br /> EVENTS
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <p class="pStyle"> Oder soll ich Dich überraschen?</p>
    </div>
    <app-surprise-me></app-surprise-me>
