<section class="newSection">
    <div class="card mb-3" style="width: 60%; margin-left: 10%; margin-top: 8%;">
        <div class="row no-gutters">
            <div class="col-md-8" style="padding-left:10%;">
                <div class=" card-body " style="width: 125%; ">
                    <h2 class="card-title " style=" font-family: 'Comic Sans MS', 'Comic Sans', cursive;font-weight:bold; font-size: revert;padding-top: 2%; ">
                        Willkommen bei Smart-Trip</h2>
                    <p style="font-size: medium; margin-top: 4%;  ">Smart-Trip wurde entwickelt von:</p>
                    <p style="font-size: medium;font-weight: bold; ">Omar Oudeh</p>
                    <p style="font-size: medium;font-weight: bold; ">Thomas Jakob</p>
                    <p style="font-size: medium;font-weight: bold; "> Yuqing Wang</p>
                    <p style="font-size: medium; margin-top: 4%; "> Sie können uns bei LinkedIn finden.</p>
                </div>
            </div>
        </div>
    </div>

</section>
