<div *ngIf="event">
    <div class="card" style="width: 18rem; margin: 5px;">
        <img src="./assets/img/events.png" class="card-img-top" alt="{{event.name}}" title="{{event.name}}" style="height: 175px;">
        <div class="card-body">
            <h5 class="card-title">{{event.name}}</h5>
            <p class="card-text">{{event.description}}</p>
            <p class="card-text">Stadt: {{event.city}}</p>
            <p class="card-text">Typ: {{event.typeOfEvent}}</p>
            <p class=" card-text">Anfangsdatum: {{event.startDate | date: 'dd.MM.yyyy'}}</p>
            <p class="card-text">Preis: {{event.price}}€</p>
            <p class="card-text">Maximale Kapazität: {{event.capacity}}</p>

            <button class="btn btn-danger" [routerLink]="['/smart-trip/events', event.id]" style="padding: 4px; padding-left: 4px;width: 70%;padding-left: 10px; color: black;font-size: 110%; font-family: 'Comic Sans MS', 'Comic Sans', cursive;margin-left: 16%; margin-top: 5px; background-color: rgb(66, 133, 244) !important; border-color: transparent;"
                title="Weitere Informationen">Weitere Informationen</button>
        </div>
    </div>
</div>

<div *ngIf="!event">

</div>
