/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper {

    margin:10%;
    padding:5%;
}

.comments {
    padding:3%;
    margin: 3%;
    background-color: whitesmoke;
    width: 75%;
    font-style: italic;
}

