.eventHead {
    font-size: large;
    font-weight: bold;
    margin-left: 200px;
    margin-top: 60px;
}

.eventBody {
    margin-left: 60px;
}

.newSection {
    background-color: #FFFFFF;
    float: left;
    width: 100%;
    margin-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.divAfterImg {
    text-align: center;
    padding: 15px;
}

.buttonBack {
    float: right;
    padding: 3%;
    background-color: rgb(66, 133, 244);
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    border-radius: 15px 0px;
    margin-bottom: 1%;
    font-size: 137%;
    margin-top: 4%;
}
